<!doctyple html>

<html>
	
	<head>
		<title></title>
	</head>
	
	<body>

		<h1> Welcome to your
		 <p>Workout Of the Day</p> 
		</h1>

		<div>
			<h2><%= @wod.workout %></h2>
		</div>

	</body>

</html>