body {
	text-align:center
}

h1 {
	color:red;
	margin-top:5%;
}

.wod{
	
	color:blue;
}

.links{
	padding-top:10%;
	margin:auto;
	font-size:25px;
}

.form-control{
	width:60%;
	margin:auto;
}
label.string.optional{
	display:none;
}